</div>
<div class="footer-padding"></div>
<div class="footer">
  <a class="footer-link" href="https://www.facebook.com/marku.zsolt/"><img class="facebook"
    src="/images/facebook.png" alt="facebook_img"></a>
  <div class="copyright"><p>Copyright 2023 ZsMWebDev</p></div>
  <a class="footer-link" href="https://www.instagram.com/markuzsolt/"><img class="instagram"
    src="/images/instagram.png" alt="instagram_img"></a>
</div>
</div>

</body>

</html>