<%- include('partials/header'); -%>

<h1 class="aboutTitle">About Me</h1>
<div>
    <img class="profilePhoto" src="/images/profile_1.png" alt="">
    <p class="about"><%=aboutContent%></p>
</div>


<h3 class="tech">
    Used technologies on the website:
</h3>
<div class="logos">
<img class="devicons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
<img class="devicons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
<img class="devicons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg" />
<img class="devicons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
<img class="devicons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />
<img class="devicons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" />
</div>          

<%- include('partials/footer'); -%>